# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
aot
/aot
build
/build
src/**/*.map
/src/**/*.map
src/**/*.js
/src/**/*.js
!cache.worker.js
!lib/pull-to-refresh-handler.js

#documentation
api-docs
/api-docs
design/ui-design
/design/ui-design

#original artwork
*.xcf

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
npm-debug.log

#System Files
.DS_Store
Thumbs.db

#SSL
server.crt
server.key
